body{
    background-image:url(./calendar.jpg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;  
}

.form{
    background-color:#20639B;
    height: 200px;
    width: 400px;
    /* make it in the center with margin auto */
    margin:10px auto; 
    margin-top: 100px;
}

input[type=text]{
    background-color:pink;
    margin: 30px;
    padding: 0 30px;
    border: 0;
    width: 150px;
    height: 50px;
    border-radius: 5px;
}

input::placeholder{
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

      
}
h1{
    color:#20639B;
    text-align: center;  
       
}

header{
    background-color: white;
    width: 400px;
    height: 100px;
    margin:10px auto; 
}
button{
    background-color:pink;
    border:2;
    height: 38px;
    width: 50px;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor:pointer;
    font-weight: bolder;
    font-size:15px;
    color:whitesmoke;
}
.checkboxes{
    background-color:#20639B;
    height: 200px;
    width: 400px;
    /* make it in the center with margin auto */
    margin:10px auto; 
    /* margin-top: 50px; */
}

ul{
    font-size:30px;
    margin: 20px auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: pink;

}
